<h1>Editing pending list</h1>
<%= render "form", pending_list: @pending_list %>
<br>
<div>
  <%= link_to "Show this pending list", @pending_list %> |
  <%= link_to "Back to pending lists", pending_lists_path %>
</div>
